.gallery-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    padding: 0 10%;
    animation: fadeIn 2s forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .individual-painting {
        cursor: pointer;
        height: 300px;
        width: 100%;
        object-fit: cover;
        transition: filter 0s ease-in-out; 

        &:hover {
          filter: brightness(80%);
        }
    }
}

@media (max-width: 768px) {
  }