.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  .footer-text {
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;

    .logo-name {
      color: rgb(182, 170, 170);
      letter-spacing: 1px;
    }

    .logo-surname {
      color: rgb(189, 99, 99);
      letter-spacing: 1px;
    }
  }
}