$main-text-color: rgb(182, 170, 170);
$logo-color: rgb(193, 173, 140);
$contact-color: rgb(108, 98, 98);

$main-color: rgb(249, 244, 236);
$neutral-color: rgb(238, 233, 227);
$surname-color: rgb(154, 109, 75);
$menu-color: rgb(0, 0, 0);