nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 70px 20%;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    gap: 1rem;
}

@media (max-width: 1024px) {
    nav {
      width: 70%;
      padding: 70px 15%;
    }
  }

  @media (max-width: 768px) {
    nav {
      width: 80%;
      padding: 70px 10%;
    }
  }