@import '../../styles/Colors.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 70px 10% 50px 10%;

  .logo {
    display: flex;
    align-items: center;

    .logo-name-surname {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      display: flex;
      flex-direction: row;

      .logo-name {
        font-weight: 20;
        color: $name-color;
        transition: transform 1.2s ease;
      }

      .logo-surname {
        font-weight: 400;
        color: $surname-color;
        transition: transform 1.2s ease;
      }
    }

    &:hover {
      .logo-name {
        transform: translateX(-15px);
        transition: transform 0.3s ease;
      }

      .logo-surname {
        transform: translateX(15px);
        transition: transform 0.3s ease;
      }
    }
  }
}

.menu {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 50px;

  .menu-links {
    letter-spacing: 5px;
    color: $name-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $menu-color;
    }
  }

  .instagram-logo {
    color: $name-color;
    font-size: 20px;
    transition: color 0.2s;

    &:hover {
      color: $menu-color;
    }
  }
}

.menu-icon {
  display: none;
}

.slide-menu {
  display: none;
}

@media (max-width: 1024px) and (min-width: 769px) {
  nav {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;

    .slide-menu {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 30px 10%;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .logo {
      padding: 0;
      width: 90%;

      .logo-name-surname {
        font-size: 18px;

        .logo-name {
          font-weight: 400;
          transition: transform 1.2s ease;
        }

        .logo-surname {
          transition: transform 1.2s ease;
        }
      }

      &:hover {
        .logo-name {
          transform: translateX(-15px);
          transition: transform 0.3s ease;
        }

        .logo-surname {
          transform: translateX(15px);
          transition: transform 0.3s ease;
        }
      }
    }
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 26px;
    right: 20px;
    cursor: pointer;

    .bar {
      width: 24px;
      height: 2px;
      background-color: #808080;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .slide-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.5);

    .menu-links {
      padding-left: 20px;
      font-size: 14px;
      color: $menu-color;
      text-decoration: none;
      transition: color 0.2s;
    }

    .instagram-logo {
      padding-left: 20px;
      font-size: 16px;
      color: $menu-color;
    }

    .close-button-menu {
      line-height: 0.5;
      padding: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 80px;
      font-weight: 100;
      color: #808080;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .slide-menu.open {
    display: flex;
    align-items: start;
    gap: 100px;
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out, visibility 0s 0.2s; 
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 2;
  visibility: visible;
  transition: background-color 0.3s ease-in-out, visibility 0s 0s;
}