@import '../../styles/Colors.scss';

nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 70px 10% 50px 10%;

  .logo {
    display: flex;
    align-items: center;

    .logo-name-surname {
      font-size: 26px;
      font-weight: 200;
      letter-spacing: 1px;
      text-decoration: none;
      display: flex;
      flex-direction: column;

      .logo-name {
        color: $name-color;
        transition: transform 1.2s ease; 
      }

      .logo-surname {
        font-weight: 400;
        color: $surname-color;
        transition: transform 1.2s ease; 
      }
    }

    &:hover {
      .logo-name {
        transform: translateX(-15px);
        transition: transform 0.3s ease; 
      }

      .logo-surname {
        transform: translateX(15px);
        transition: transform 0.3s ease; 
      }
    }
  }
}

.menu {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 50px;

  .menu-links {
    letter-spacing: 5px;
    color: $name-color;
    text-decoration: none;
    transition: color 0.2s; 

    &:hover {
      color: $menu-color; 
    }
  }

  .instagram-logo {
    color: $name-color;
    font-size: 20px;
    transition: color 0.2s; 

    &:hover {
      color: $menu-color; 
    }
  }
}

@media (max-width: 1024px) {
  nav {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}