.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;

    .about-text {
        margin: 0;
        width: 50%;
    }

    .artist-pic {
        padding-top: 60px;
        width: 50%;
    }
}