.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;

    .deco-line {
        position: absolute;
        top: 200px;
        width: 0;
        height: 1px;
        background-color: black;
        animation: expand-line 3s forwards;

        @keyframes expand-line {
            from {
                width: 0;
            }

            to {
                width: 180px;
            }
        }
    }

    .text-pic-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .about-text {
            font-weight: 400;
            line-height: 2;
            font-size: 16px;
            margin: 0;
            width: 50%;
        }

        .about-image {
            padding-top: 50px;
            width: 60%;
            padding-left: 10%;
        }
    }
}

@media (max-width: 1024px) {
    .about-container {
        .deco-line {
            display: none;
        }

        .text-pic-container {
            .about-text {
                width: 70%;
            }

            .about-image {
                padding-top: 50px;
                width: 70%;
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .about-container {
        .text-pic-container {
            .about-text {
                font-size: 16px;
                width: 90%;
            }

            .about-image {
                padding-top: 50px;
                width: 100%;
                padding-right: 0;
            }
        }
    }
}
