// Gallery.scss
@import '../../styles/Colors.scss';

.gallery-modal {
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .selected-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

  .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $name-color;
    font-size: 40px;
    cursor: pointer;
  }

  .button-left {
    position: absolute;
    left: 30px;
    color: $name-color;
    font-size: 40px;
    cursor: pointer;
  }

  .button-right {
    position: absolute;
    right: 30px;
    color: $name-color;
    font-size: 40px;
    cursor: pointer;
  }
}