// 
.carousel {
  background-color: beige;
  display: flex;
  justify-content: center;
  width: 50%;

  .image-container {
    background-color: bisque;
    display: flex;
    align-items: center;
    height: 700px;
    width: 50%;
    position: relative;
    overflow: hidden;

    .carousel-image {
      object-fit: cover;
      opacity: 0;
      transition: opacity 2.5s;
      width: 100%; 
      position: absolute; 
    }

    .fade-in {
      opacity: 1;
    }

    .fade-out {
      opacity: 0;
    }
  }
}


@media (max-width: 1024px) {
  .banner {
    width: 70%;
    padding: 0 15%;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 80%;
    padding: 0 10%;
  }
}