.carousel {
  width: 80%;
  padding-top: 50px;

  .image-info-container {
    height: 580px;
    padding: 0;

    .carousel-image {
      width: 100%;
      height: 580px;
      object-fit: contain;
    }
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .carousel {
    padding: 0;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .carousel {
    padding: 0;
    width: 98%;

    .image-info-container {
      height: 500px;

      .carousel-image {
        height: 500px;
        object-fit: contain;
      }
    }
  }
}