
.carousel {
  display: flex;
  justify-content: center;
  height: 650px;
  width: 100%;

  .image-container {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;

    .carousel-image {
      object-fit: fill;
      opacity: 0;
      transition: opacity 2.5s;
      height: 100%;
      position: absolute; 
    }

    .fade-in {
      opacity: 1;
    }

    .fade-out {
      opacity: 0;
    }
  }
}

@media (max-width: 1024px) {
  .banner {
    width: 70%;
    padding: 0 15%;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 80%;
    padding: 0 10%;
  }
}