@import '../../styles/Colors.scss';

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .contact-info {
        z-index: 1;
        gap: 80px;
        left: 20%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $menu-color;
        opacity: 0.1;
        transition: opacity 2000ms ease;

        .contact-details-color {
            font-size: 12px;
            letter-spacing: 5px;
            color: $surname-color;
            font-weight: 700;
        }

        .contact-details {
            letter-spacing: 5px;
            font-size: 12px;
            font-weight: 500;
        }

        .instagram-logo {
            font-size: 20px;
            color: $surname-color;
        }
    }

    .contact-image-container {
        display: flex;
        justify-content: center;
        padding: 0 10%;

        .contact-image {
            max-height: 690px;
            width: 100%;
            object-fit: cover;
            transition: opacity 2500ms ease;
        }
    }
}

.contact.loaded .contact-info {
    opacity: 1;
}