@import '../../styles/Colors.scss';

.title-contact {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 100;
    font-family: "Cinzel", sans-serif;
    text-align: center;
}

.contact-container {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;

    .info-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            gap: 40px;
            font-weight: 400;
            line-height: 2;
            font-size: 18px;
            margin: 0;
            width: 50%;

            .contact-details {
                letter-spacing: 5px;
                font-size: 12px;
                font-weight: 500;
            }

            .contact-details-color {
                font-size: 12px;
                letter-spacing: 5px;
                font-weight: 500;
            }

            .instagram-logo {
                font-size: 20px;
                color: $surname-color;
            }
        }

        .contact-image {
            padding-top: 50px;
            width: 50%;
            opacity: 0.7;
        }
    }
}



@media (max-width: 768px) {
    .title-contact {
        font-size: 1.4rem;
    }
    .contact-container {
        .info-image-container {
            .contact-info {
                width: 100%;

                .contact-details {
                    letter-spacing: 4px;
                }

                .contact-details-color {
                    letter-spacing: 4px;
                }
            }

            .contact-image {
                width: 100%;
            }
        }
    }
}